@import "tailwindcss";

@theme {
  --color-brand-green: #064e3b;
  --color-brand-green-light: #166534;
  --color-brand-gold: #d4a017;
  --color-brand-blue: #0f2a5f;
  --color-brand-cream: #fffcf5;
}


:root {
  --background: #fffcf5;
  --foreground: #0f172a;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jost), sans-serif;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
}